.conteiner{
    width: 960px;
    height: 351px;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 50px 0px;
}

.infoTrilha{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

h3{
    text-align: end;
}

span{
    color: #5C6670;
}

h5{
    border-radius: 32px;
    background-color: #EFF0F0;
    width: 70px;
    height: 24px;
    padding: 6px, 8px, 6px, 8px;
}



