
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #504908;
}

.link{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin: 0em 2em;
}