
.rodape{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #504908;
}

.rodapeItens{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin: auto 2em;
    text-decoration: none;
}



